html {
    font-family: 'Roboto';
 
}
*{
 border: 2px solid red
}
.header{
    display:flex;
    justify-content: space-between;
}
.cenbox{
    display:flex;
    justify-content: center;
}
.h2{
    margin: 0 auto;
}
.imageblock{
    display:flex;
    justify-content:space-between
}
.bb{    display: flex;
}