html {
    font-family: 'Roboto';
}

* {
    border: 2px solid red
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
}

#navbox a {
    font-size: 18px;
    color: #e5E7eB;
    margin-left :5px;
}
#header1 { 
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.card1 {
    padding-left: 200px;
    padding-right: 200px;
}
.cenbox {
    
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

}
.b2{
    display:inline;
    width: 50%;
}
.b1{
    display:inline;
    width: 50%;
}
.h2 {
    margin: 0 auto;
}
.maintext{
    font-size: 18px;
    color: #e5e7eb;
}
.signup{
    border-radius:6px;
    background-color: #3882f6;
    color: #f9faf8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 3px;

}
.imageblock {
    display: flex;
    justify-content: space-between;
}

.bb {
    display: flex;
}
.cenbox2 {
    padding-top: 50px;
    padding-bottom: 75px;
    padding-left: 200px;
    padding-right:200px;

}
.h2 {
    width:50%;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    color: #1f2937;
    font-weight: 900;
    font-size: 36px;
    margin-bottom:50px;
}
.pairs{
    width:150px;
}
.imageblock .pairs .p1 {
    border: 2px solid #3882f6;
    border-radius:6px;
    aspect-ratio:1/1;
}
.cenbox2 .cblock p {
    margin-bottom: 0px;
}
p{
    margin-top: 3px;
    text-align: center;
}
img {
    max-width:100%;
    max-height:100%;
}